.searchResults {
    margin: 125px auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: whitesmoke;
    opacity: .96;
    border-radius: 20px;
}

/* .search-header {
    background-color: white;
    padding: 20px;
    box-shadow: inset 0px 0px 0px 10px red;
} */

.card-book {
    margin-top: 10px;
    width: 30%;
}

.card-title {
    text-align: center;
}
.card-body {
    height: 100%;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 2px red;
    border-radius: 20px;
}

.card-text {
    overflow: hidden;
    font-size: 11px;
    text-align: center;
}

.summary-text {
    font-size: 10px;
    text-align: left;
}

/* .button-group {
    justify-content: flex-end;
    position: relative;
    bottom: 0;
} */

.avatar {
    height: 80px;
    width: 80px;
    margin: 20px 0 0 20px;
}