.card-img-top {
  display: flex;
  height: auto;
  max-width: 100%;
  width: 100%
}

.collection-container {
  border-radius: 2%;
}

.collection-header{
  color: white;
}
.card-title {
  text-align: center;
}
.card-body {
  height: auto;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 4px red;
  border-radius: 20px;
}

.card-text {
  overflow: hidden;
  font-size: 11px;
  text-align: center;
}

.summary-text {
  font-size: 10px;
  text-align: left;
}