.collection-results {
  margin: 125px auto;
  max-width: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: green;
  opacity: .96;
  border-radius: 20px;
}

.card-book {
  margin-top: 10px;
  width: 30%;
}