.form-register {
    width: 100%;
    max-width: 325px;
    height: 450px;
    padding: 15px;
    margin: auto auto;
    background-color: whitesmoke;
    box-shadow: inset 0px 0px 10px 5px rgb(63, 2, 2);
    border: 5px solid red;
    border-radius: 20px;
}

.form-control {
    margin: 10px 0;
}

header {
  background-color: #4cb2f6;
  /* color: #f6db35; */
  height: auto;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  text-align: center;
  font-weight: bolder;
  margin: auto;
  font-family: neon;
  color: whitesmoke(152, 52, 247);
  font-size: 8vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw (64, 64, 253);
  animation: neon 2s linear infinite;
  -moz-animation: neon 2s linear infinite;
  -webkit-animation: neon 2s linear infinite;
      animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}

@keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(236, 0, 0, 0.555);
      /* border-radius: 60%; */
    }
    50% {
      box-shadow: 0 0 0 15px rgb(255, 238, 0);
      /* border-radius: 60%; */
    }
  }

  @font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }

  @keyframes flux {
    0%,
    100% {
      box-shadow: 0 0 1vw yelrgb(251, 255, 0)low, 0 0 3vw rgb(251, 255, 0), 0 0 10vw rgb(251, 255, 0), 0 0 10vw rgb(251, 255, 0), 0 0 .4vw rgb(255, 255, 255), .5vw .5vw .1vw #147280;
      color: rgb(254, 40, 236);
    }
    50% {
      box-shadow: 0 0 .5vw rgb(251, 255, 0), 0 0 1.5vw rgb(251, 255, 0), 0 0 5vw rgb(251, 255, 0), 0 0 5vw rgb(251, 255, 0), 0 0 .2vw rgb(251, 255, 0), .5vw .5vw .1vw #0A3940;
      color: white;
    }
  }